<header class="glass">
    <nav>
        <a href="home.html" class="logo">
            <i class="fas fa-hands-helping logo-icon"></i>
            Hear Me Hand
        </a>
        <ul class="nav-links">
            <li><a href="index.html" id="home-link">Home</a></li>
            <li><a href="about.html" id="about-link">About</a></li>
            <li><a href="team.html" id="team-link">Team</a></li>
            <li><a href="demo.html" id="demo-link">Demo</a></li>
            <li><a href="contact.html" id="contact-link">Contact</a></li>
        </ul>
    </nav>
</header>
